!!! 5
html
  head
    meta(charset='utf-8')
    title= typeof(locals.title) !== 'undefined' ? locals.title : "Geography maps"
    link(rel="stylesheet", href=urls.base + "components/bootstrap.css/css/bootstrap.min.css")
    link(rel="stylesheet", href=urls.base + "components/bootstrap.css/css/bootstrap-responsive.min.css")
    link(rel="stylesheet", href=urls.base + "components/font-awesome/css/font-awesome.css")
    link(rel="stylesheet", href=urls.base + "components/leaflet/leaflet.css")
    link(rel="stylesheet", href=urls.base + "css/app.css")
    script(src=urls.base + "js/main.js")

  body(ng-controller=locals.angular_controller, ng-cloak)
    div.container
      header
        div.navbar.navbar-fixed-top.mainmenu
          div.navbar-inner
            a.brand(href=urls.base)
              i.icon-th-large
              |Geo
            ul.nav.pull-right
              li(class=('discover' == locals.mainmenu_active) && 'active')
                a(href=urls.maps.discover)
                  i.icon-sign-blank
                  |Discover
              li(class=('play' == locals.mainmenu_active) && 'active')
                a(href=urls.maps.play)
                  i.icon-cogs
                  |Play
              if (locals.username)
                li
                  a(href=urls.logout)
                    i.icon-unlock
                    |Logout
              else
                li
                  a(href=urls.login)
                      i.icon-user
                      |Login

        div.navbar-fixed-top.navbar-inverse.discovermenu(ng-show="map", ng-cloak)
          ul.nav.nav-pills.pull-right
            li(ng-class="{active: map.name=='world'}")
              a(ng-click="map.name='world'", href="#/world") World
            li(ng-class="{active: map.name=='africa'}")
              a(ng-click="map.name='africa'", href="#/africa") Africa
            li(ng-class="{active: map.name=='europe'}")
              a(ng-click="map.name='europe'", href="#/europe") Europe
            li(ng-class="{active: map.name=='asia'}")
              a(ng-click="map.name='asia'", href="#/asia") Asia
            li(ng-class="{active: map.name=='northamerica'}")
              a(ng-click="map.name='northamerica'", href="#/northamerica") North America
            li(ng-class="{active: map.name=='southamerica'}")
              a(ng-click="map.name='southamerica'", href="#southamerica") South America
            li(ng-class="{active: map.name=='australia'}")
              a(ng-click="map.name='australia'", href="#/australia") Australia
            li(ng-class="{active: map.name=='antarctica'}")
              a(ng-click="map.name='antarctica'", href="#/anctarctica") Antarctica
    block main
