extends layout
block css
    link(rel='stylesheet', href=settings.urls.base.url + '/js/leaflet/leaflet.css')
    // if lte IE 8
        link(rel='stylesheet', href=settings.urls.base.url + '/js/leaflet/leaflet.ie.css')
block scripts
    script(src=settings.urls.base.url + '/components/jquery/jquery.min.js')
    script(src=settings.urls.base.url + '/components/angular/angular.js')
    script(src=settings.urls.base.url + '/js/leaflet/leaflet.js')
    script(src=settings.urls.base.url + '/js/leaflet.markercluster/leaflet.markercluster-src.js')
    script(src=settings.urls.base.url + '/js/angular-leaflet.js')
    script(src=settings.urls.base.url + '/components/angular-ui/build/angular-ui.min.js')
    script(src=settings.urls.base.url + '/js/controllers/' + locals.controller_file + '.js')
    script(src=settings.urls.base.url + '/js/app/leaflet.js')
block main
    div.span7
        h2.title #{locals.title}
        p.large
            | This is the web page of one of the PLN network PBX's.
            | From here you can get a free phone number on the PLN (
            a(href=settings.urls.menu.documentation.submenu.whatis.url) What is the PLN?
            | ), join the PLN, browse the 
            a(href=settings.urls.menu.network.url) PLN network
            | list of nodes, or get detailed information about this iniciative. Enjoy!
        br
        p
            a.btn.btn-large.btn-warning(href=settings.urls.join.url) Join the PLN
            |&nbsp;
            a.btn.btn-large.btn-info(href=settings.urls.link.url) Link to this node
    div.offset1.span4
        leaflet(zoom="zoom", center="center", message="message", markcenter="true")

        address
            p
                strong #{locals.node.nodeShortName} (#{locals.node.hostname})
            p #{locals.node.postal_code} #{locals.node.town}, #{locals.node.province_county_state}
            p #{locals.node.region}, #{locals.node.country}
            p
                strong Geographic phone number:
                span #{locals.node.geographic_phone_number}
            p
                strong Non geographic phone number: 
                span #{locals.node.non_geographic_phone_number}
