!!! 5
html
  head
    meta(charset='utf-8')
    title= typeof(locals.title) !== 'undefined' ? locals.title : "Geography maps"
    link(rel="stylesheet", href=settings.urls.base.url + "components/bootstrap.css/css/bootstrap.min.css")
    link(rel="stylesheet", href=settings.urls.base.url + "components/bootstrap.css/css/bootstrap-responsive.min.css")
    link(rel="stylesheet", href=settings.urls.base.url + "components/font-awesome/css/font-awesome.css")
    link(rel="stylesheet", href=settings.urls.base.url + "components/leaflet/leaflet.css")
    link(rel="stylesheet", href=settings.urls.base.url + "css/app.css")
    script(src=settings.urls.base.url + "js/main.js")

  body(ng-controller=locals.angular_controller, ng-cloak)
    div.container
      header
        div.navbar.navbar-fixed-top.span8.offset2.mainmenu
          div.navbar-inner
            a.brand(href=settings.urls.base.url)
              i.icon-th-large
              |Geo
            ul.nav.pull-right
              li(class=('discover' == locals.mainmenu_active) && 'active')
                a(href=settings.urls.maps.world.discover.url)
                  i.icon-sign-blank
                  |Discover
              li(class=('play' == locals.mainmenu_active) && 'active')
                a(href=settings.urls.maps.world.play.url)
                  i.icon-cogs
                  |Play
              if (locals.username)
                li
                  a(href=settings.urls.logout.url)
                    i.icon-unlock
                    |Logout
              else
                li
                  a(href=settings.urls.login.url)
                      i.icon-user
                      |Login
      div.row
        div.span7.offset3.navbar-fixed-top.navbar-inverse.discovermenu(ng-show="map", ng-cloak)
          ul.nav.nav-pills.pull-right
            li(ng-class="{active: map.name=='world'}", class=('world'==locals.discovermenu_active)&&'active')
              a(ng-click="map.name='world'", href="#") World
            li(ng-class="{active: map.name=='africa'}", class=('africa'==locals.discovermenu_active)&&'active')
              a(ng-click="map.name='africa'", href="#") Africa
            li(ng-class="{active: map.name=='europe'}", class=('europe'==locals.discovermenu_active)&&'active')
              a(ng-click="map.name='europe'", href="#") Europe
            li(ng-class="{active: map.name=='asia'}", class=('asia'==locals.discovermenu_active)&&'active')
              a(ng-click="map.name='asia'", href="#") Asia
            li(ng-class="{active: map.name=='northamerica'}", class=('northamerica'==locals.discovermenu_active)&&'active')
              a(ng-click="map.name='northamerica'", href="#") North America
            li(ng-class="{active: map.name=='southamerica'}", class=('southamerica'==locals.discovermenu_active)&&'active')
              a(ng-click="map.name='southamerica'", href="#") South America
            li(ng-class="{active: map.name=='australia'}", class=('australia'==locals.discovermenu_active)&&'active')
              a(ng-click="map.name='australia'", href="#") Australia
            li(ng-class="{active: map.name=='antarctica'}", class=('antarctica'==locals.discovermenu_active)&&'active')
              a(ng-click="map.name='antarctica'", href="#") Antarctica
    block main
